---
---

@import "{{ site.theme }}";

@mixin mobile {
    @media (max-width: 960px) {
        @content;
    }
}

body {
    box-sizing: border-box;
    max-width: 960px;
    margin: auto;
    padding: 20px;
}

h1, h2, h3, ul, table {
    margin-bottom: 20px;
}

table {
    text-align: left;

    th, td {
        padding-right: 20px;
    }
}

hr {
    clear: both;
}

header {
    display: flex;
    padding: 20px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;

    .project {
        flex: 1;
        text-transform: uppercase;
        letter-spacing: 2px;  
        font-weight: bold;
        line-height: 30px;
        font-size: 20px;
        color: black;
    }

    .links {
        display: flex;

        a {
            display: inline-block;
            margin-left: 20px;     
            padding: 0 10px;            
            text-transform: uppercase;
            line-height: 30px;
            font-size: 12px;
            text-decoration: none;
            border: 1px solid #ccc;            

            &:hover {
                background-color: #eee;
            }
        }
    }
}

pre.highlight {
    padding: 10px;
    margin-bottom: 20px;
}

example {
    display: inline-block;
    width: 256px;
    height: 256px;
    background-color: white;
    background-size: cover;
    background-position: center;
    cursor: pointer;

    canvas {
        width: 100%;
    }

    @mixin example($id) {
        &##{$id} {
            background-image: url("../media/example-" + $id + ".png");
        }
    }

    @mixin simple-example($id) {
        @include example($id);

        &##{$id} {
            width: 128px;
            height: 128px;
        }
    }

    @mixin standard-example($id) {
        @include example($id);

        &##{$id} {
            width: 320px;
            height: 320px;
            margin-bottom: 20px;
            float: right;
            border: 20px solid white;
            border-right: none;
            border-top: none;

            @include mobile {
                float: none;
                border: none;
            }
        }
    }

    @include example("cornell");

    @include simple-example("sphere");
    @include simple-example("tetrahedron");
    @include simple-example("cube");
    @include simple-example("octohedron");
    @include simple-example("dodecahedron");
    @include simple-example("cylinder");
    @include simple-example("torus");
    @include simple-example("repeat");
    @include simple-example("smoothBox");
    @include simple-example("box");
    @include simple-example("sierpinski");
    @include simple-example("tree");
    @include simple-example("skull");

    @include standard-example("simple");
    @include standard-example("skulls");
    @include standard-example("truchet");
    @include standard-example("kitchen");
}

example#cornell {
    float: right;
    width: 460px;
    min-height: 460px;
    margin-left: 20px;
    margin-bottom: 20px;

    @include mobile {
        display: none;
    }
}